<h1>My tasks:</h1>

<ul>
  <li>
  <% @tasks.each do |task| %>
    <%= link_to task.title, show_path(task)  %>
    <%= check_box_tag("completed", value="0", checked = false)%></li>
  <% end %>
</ul>

  <div >
    <%= button_to "Add new task", new_task_path, method: :get%>

  </div>
